*{
    font-family: 'Roboto', sans-serif;
}

h1,h2,h3,.h1,.h2,.h3{
    font-family: 'Righteous', cursive;
}

:root{
    --maincolor: #1566c0
}

.maincolor{
    color: var(--maincolor);
}

.titolo{
    font-size: 80px !important;
}

.bghead{
    background:linear-gradient(180deg,rgba(0,0,0,1),rgba(0,0,0,0.2),rgba(0,0,0,0.3),rgba(0,0,0,0.1)),url(./media/wave1.svg),url(./media/header.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
}

.bottone{
    background-color: gold;
    font-size: 20px;
    margin-left: 50px;
    width: 100px;
}

.pic{
position: relative;
bottom: -50px;
padding: 0px;
width: 100%;
margin: 0px;
}

@media screen and (max-width:768px) {
    .pic{
        display: none !important;
    }

}

.brbot{
    border-bottom: 2px dashed orange;
}

.sfondocard{
    background: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.2)),url(./media/1.png);
    background-size: cover;
    width: 250px;
}

.sfondocard2{
    background: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.2)),url(./media/2.png);
    background-size: cover;
    width: 250px;

}
.sfondocard3{
    background: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.2)),url(./media/3.png);
    background-size: cover;
    width: 250px;

}
.sfondocard4{
    background: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.2)),url(./media/4.png);
    background-size: cover;
    width: 250px;

}

.boxlorem{
    box-shadow: 10px 10px 20px black;
    border-radius: 5px;
}

.icons{
    width: 100px;
    height: 100px;
    box-shadow: 5px 5px 5px 5px gray;
    border-radius: 10px;
  
}

.spazio{
    height: 100px;
    width: 100%;
}


.imgcircle{
    border: 2px solid var(--maincolor);
    padding: 5px;
}


@media screen and (max-width: 768px) {

    .imgcircle{
        width: 200px;
        margin-top: 30px;
    }

    .boxlorem{
        width: 70%;
    } 
    
    .icons{
        width: 60px;
        height: 60px;
    }
   
}




.bordo{
    border-right: 3px solid var(--maincolor);
}

.margine{
    margin-top: 200px;
}

.pseudo1::before{
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid var(--maincolor);
    background-color: white;
    position: absolute;
    right:49%;
}

@media screen and (max-width:768px) {
    .pseudo1::before{
        width: 20px;
        height: 20px;
        right: 46%;
    }
    
}

.btn1{
    width: 300px;
    margin: auto;
    display: block;
    margin-top: 50px;
}

.bgfooter{
    background: linear-gradient(rgba(255,255,255,1),rgba(255,255,255,0.1),rgba(0,0,0,1)),url(./media/footer.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.vh-50{
    height: 70vh;
}